iframe {
    display: block; /* Elimina cualquier espacio extra y hace que el elemento se comporte como un bloque */
    width: 100%; /* Asegura que el iframe ocupe el 100% del ancho de su contenedor */
    height: 100%; /* Asegura que el iframe ocupe el 100% de la altura de su contenedor */
    border: none; /* Elimina cualquier borde que pueda tener el iframe */
  }