<app-navbar></app-navbar>
<div class="container center-content">
  <div class="numbers">
    <div>
      <app-numbers [myNumber]="operation"></app-numbers>
    </div>
    <div>
      <app-numbers [myNumber]=this.firstNumber.toString()></app-numbers>
      <div>_________</div>
      <input [(ngModel)]="this.inputValue" class="custom-input" >
    </div>

    <div>
      <div class="gap">
        <app-button
          [buttonSize]="'large'"
          [buttonText]="'Un Dígito'"
          [styleClass]="'button'"
          (onClick)="setDigits(1)"
        ></app-button>
      </div>
      <div class="gap">
        <app-button
          [buttonSize]="'large'"
          [buttonText]="'Dos Dígitos'"
          [styleClass]="'button'"
          (onClick)="setDigits(2)"
        ></app-button>
      </div>
      <div class="gap">
        <app-button
          [buttonSize]="'large'"
          [buttonText]="'Tres Dígitos'"
          [styleClass]="'button'"
          (onClick)="setDigits(3)"
        ></app-button>
      </div>
    </div>


  </div>
  <app-button
    [buttonSize]="'large'"
    [buttonText]="'Verificar Respuesta'"
    [styleClass]="'button'"
    (onClick)="openSnackBar()"
  ></app-button>

  <button mat-fab (click)="openDialog()">
    <mat-icon>help</mat-icon>
  </button>

</div>
