<app-navbar></app-navbar>
<div class="container">
    <div class="apple-container">
      <ng-container *ngFor="let apple of apples">
        <img src="assets/manzana.jpg" alt="Manzana">
      </ng-container>
    </div>
    
    <div class="input-container">
      <label for="appleCount">¿Cuántas manzanas ves?</label>
      <input type="number" id="appleCount" [(ngModel)]="userInput">
      <app-button
      [buttonSize]="'large'"
      [buttonText]="'Verificar'"
      [styleClass]="'button'"
      (onClick)="checkAnswer()"
    ></app-button>
    <app-button
    [buttonSize]="'large'"
    [buttonText]="'Nueva cantidad'"
    [styleClass]="'button'"
    (onClick)="generateRandomApples()"
  ></app-button>


    </div>
  </div>