<app-navbar></app-navbar>
<!-- <div class="container">
    <div class="instruction-box">
      Ubica el número: <span>{{ randomNumber }}</span>
    </div>
    <div class="number-line">
      <span class="line" *ngFor="let number of numbers" (mouseover)="showNumber(number)" (mouseout)="hideNumber()" (click)="checkNumber(number +1)">
        <span class="number" *ngIf="isHovered && hoveredNumber === number">{{ number }}</span>
      </span>
    </div>
    <div class="feedback" [ngClass]="{'correct': isCorrect, 'error': !isCorrect}" *ngIf="feedbackVisible">
      {{ feedbackMessage }}
    </div>
</div> -->
<iframe style="max-width:100%" src="https://wordwall.net/es/embed/7f8f61015895410b90ed037b212fe94a?themeId=1&templateId=5&fontStackId=0" width="500" height="380" frameborder="0" allowfullscreen></iframe>